.text-muted {
  color: #767676
}

.nav-pills>li.active>a {
  background-color: #767676
}

.nav.nav-pills a {
  color: #767676;
}

.booking img {
  
}

.booking h2 {
  font-size: 28px;
}

.plan {
  box-shadow: 0 2px 2px rgba(10, 10, 10, 0.06);
  min-height: 100px;
  background: #fff;
  border-radius: 4px;
  margin: 20px 0;
  padding-bottom: 25px;
  text-align: center;
}
