.text-muted {
  color: #767676
}

.nav-pills>li.active>a {
  background-color: #767676
}

.nav.nav-pills a {
  color: #767676;
}

.booking img {
  
}

.booking h2 {
  font-size: 26px;
}

.plan.standard {
  margin-top: 55px;
}

.plan {
  box-shadow: 0 2px 2px rgba(10, 10, 10, 0.06);
  min-height: 100px;
  background: #fff;
  border-radius: 4px;
  margin: 20px 0;
  padding-bottom: 25px;
  text-align: center;
  border: 1px solid #f1f1f1;
}

.plan ul {
  list-style-type: none;
  padding: 20px;
  margin-top: 2px;
}

.plan .price {
  border-top: 1px solid #eee;
  margin: 0 auto 30px auto;
  width: 80%;
}

.plan .price h3 {
  font-size: 62px;
  vertical-align: top;
  line-height: 1;
}

.plan.standard .head {
  background: #f3f5f7;
  border: 1px solid #f3f5f7;
  color: #555;
}

.plan.premium .head {
  background: #ffc500;
  border: 1px solid #ffc500;
  color: #fff;
}

.plan .head {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding: 3px 16px;
}
